header {
  background-color: rgba(207, 205, 73, 0.52);
  padding: 5px;
}

body {
  font-family: "roboto", sans-serif;
}

.nav-link {
  color: darkgoldenrod;
}
.nav-link:hover {
  color: darkgoldenrod;
}

.nav-link.active {
  color: darkgoldenrod;
  background-color: beige;
}

.navbar-toggler {
  background-color: beige;
  margin-bottom: 30px;
}

.carousel-item img {
  height: 250px;
}

@media (min-width: 768px) {
  .carousel-item img {
    height: 70vh;
  }
}
@media (min-width: 992px) {
  .carousel-item img {
    height: 80vh;
  }
}
@media (min-width: 992px) {
  .carousel-item img {
    height: 90vh;
  }
}
h1, h2 {
  font-family: "roboto", sans-serif;
  color: darkgoldenrod;
  text-align: center;
  text-decoration: underline;
  margin-top: 40px;
}

.logo {
  width: 250px;
  height: 250px;
  display: block;
  margin: 0 auto;
}

.letra-grande {
  font-size: 40px;
}

.letra-menos {
  font-size: 20px;
}

.fondo-imagen {
  background-color: beige;
}

.px {
  font-size: 16px;
}

a {
  text-decoration: none;
}

p {
  font-size: 20px;
}

footer {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#galeria {
  display: grid;
  grid-template-areas: "foto1 foto1 foto2 foto2 foto2" "foto1 foto1 foto2 foto2 foto2" "foto3 foto3 foto2 foto2 foto2" "foto3 foto3 foto4 foto4 foto4" "foto3 foto3 foto4 foto4 foto4" "foto5 foto5 foto4 foto4 foto4" "foto5 foto5 foto6 foto6 foto6" "foto5 foto5 foto6 foto6 foto6";
  gap: 5px;
  margin: 30px 0;
}

.foto1, .foto2, .foto3, .foto4, .foto4, .foto5, .foto6 {
  max-width: 100%;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.foto1 {
  background-image: url(../img/gakeria1.webp);
  grid-area: foto1;
}

.foto2 {
  background-image: url(../img/galeria4.jpg);
  grid-area: foto2;
  height: 100%;
}

.foto3 {
  background-image: url(../img/galeria3.jpg);
  grid-area: foto3;
}

.foto4 {
  background-image: url(../img/galeria2.webp);
  grid-area: foto4;
}

.foto5 {
  background-image: url(../img/galeria5.jpg);
  grid-area: foto5;
  height: 100%;
}

.foto6 {
  background-image: url(../img/galeria6.jpg);
  grid-area: foto6;
}

@media (max-width: 991px) {
  #galeria {
    grid-template-areas: "foto1 foto2" "foto3 foto4" "foto5 foto6";
  }
  .foto1, .foto2, .foto3, .foto4, .foto4, .foto5, .foto6 {
    height: 300px;
  }
}
@media (max-width: 767px) {
  #galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .foto1, .foto2, .foto3, .foto4, .foto4, .foto5, .foto6 {
    height: 200px;
    width: 250px;
  }
}
.parrafo-contacto {
  text-align: center;
  margin-top: 40px;
}

.main-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

@media (min-width: 768px) {
  .main-contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
}
iframe {
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
form .campos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form .botones-form {
  background-color: darkgoldenrod;
  font-weight: bold;
}

.musica {
  height: 400px;
  width: 500px;
}

@media (max-width: 991px) {
  .musica {
    height: 300px;
    width: 400px;
  }
}
@media (max-width: 767px) {
  .musica {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 200px;
    width: 300px;
  }
}

/*# sourceMappingURL=styles.css.map */
